$alert-types: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'info': $info,
  'dark': $dark
);

$alert-types-dark: (
  'primary': $primary-dark,
  'secondary': $secondary-dark,
  'tertiary': $tertiary-dark,
  'success': $success-dark,
  'warning': $warning-dark,
  'danger': $danger-dark,
  'info': $info-dark,
  'dark': $dark-dark
);

.alert {
  border-radius: 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 475px;
  color: $surface-primary;
}

.alert-button {
  @extend .mr-16;
  margin-left: auto;
  cursor: pointer;
}

@each $type, $color in $alert-types {
  .alert-#{$type} {
    background-color: $color;
    border-color: $color;
  }
}

@each $type, $color in $alert-types-dark {
  .bg-#{$type}-icon {
    background: $color;
  }
}
