.avatar-status {
  background: $success;
  border: 3px solid white;
  position: absolute;
  border-radius: 100%;
}

.avatar-container {
  position: relative;
  display: inline-block;
}

.avatar-status-xl {
  @extend .avatar-status;
  width: 25px;
  height: 25px;
  bottom: 80%;
  left: 81.54%;
  right: 0%;
}

.avatar-round-status-xl {
  @extend .avatar-status;
  width: 25px;
  height: 25px;
  left: 76.92%;
  right: 4.62%;
  top: 4.62%;
  bottom: 76.92%;
}

.avatar-status-lg {
  @extend .avatar-status;
  width: 20px;
  height: 20px;
  left: 81.54%;
  right: 0%;
  top: 0%;
  bottom: 81.54%;
}

.avatar-round-status-lg {
  @extend .avatar-status;
  width: 20px;
  height: 20px;
  left: 76.92%;
  right: 4.62%;
  top: 4.62%;
  bottom: 76.92%;
}

.avatar-status-md {
  @extend .avatar-status;
  width: 18px;
  height: 18px;
  left: 80.5%;
  right: 0%;
  top: 0%;
  bottom: 81.54%;
}

.avatar-round-status-md {
  @extend .avatar-status;
  width: 18px;
  height: 18px;
  left: 76%;
  right: 0%;
  top: 3%;
  bottom: 81.54%;
}

.avatar-status-sm {
  @extend .avatar-status;
  width: 15px;
  height: 15px;
  left: 80.5%;
  right: 0%;
  top: 0%;
  bottom: 81.54%;
}

.avatar-round-status-sm {
  @extend .avatar-status;
  width: 15px;
  height: 15px;
  left: 76%;
  right: 0%;
  top: 3%;
  bottom: 81.54%;
}

.avatar-status-xs {
  @extend .avatar-status;
  width: 13px;
  height: 13px;
  left: 79.5%;
  right: 0%;
  top: -2%;
  bottom: 81.54%;
}

.avatar-round-status-xs {
  @extend .avatar-status;
  width: 13px;
  height: 13px;
  left: 76%;
  right: 0%;
  top: 3%;
  bottom: 81.54%;
}

.avatar-status-xss {
  @extend .avatar-status;
  width: 11px;
  height: 11px;
  left: 74.5%;
  right: 0%;
  top: -8%;
  bottom: 81.54%;
}

.avatar-round-status-xss {
  @extend .avatar-status;
  width: 11px;
  height: 11px;
  left: 72%;
  right: 0%;
  top: -3%;
  bottom: 81.54%;
}

.default-avatar {
  background-color: $primary;
  max-width: 116px;
  max-height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  width: 64px;
  height: 64px;
  color: $text-white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 136.52%;
}

.avatar-round {
  border-radius: 100px !important;
}

.avatar-xl {
  width: 116px;
  height: 116px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 136.02%;
}

.avatar-lg {
  width: 82px;
  height: 82px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 136.02%;
}

.avatar-sm {
  width: 46px;
  height: 46px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.005em;
}

.avatar-xs {
  width: 36px;
  height: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 10px;
}

.avatar-xss {
  width: 24px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 16px;
  border-radius: 7px;
}

.avatar-image-xl {
  border-radius: 14px;
}

.avatar-image-lg {
  border-radius: 14px;
}

.avatar-image-md {
  border-radius: 14px;
}

.avatar-image-sm {
  border-radius: 14px;
}

.avatar-image-xs {
  border-radius: 10px;
}

.avatar-image-xss {
  border-radius: 7px;
}

.avatar-round-image {
  border-radius: 100px;
}
