.badge {
  min-height: 24px;
  display: flex;
  justify-content: center;
  max-width: 62px;
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.round-badge {
  border-radius: 100px;
}

@mixin colorized-badge($color) {
  background-color: $color;
  color: $text-white !important;

  @if $color == $secondary {
    color: $text-light !important;
  }
}

@each $type, $color in $colors-simple-array {
  .badge-#{$type} {
    @include colorized-badge($color);
  }
}
