.badge {
  min-height: 24px;
  display: flex;
  justify-content: center;
  max-width: 62px;
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
