@import '../../styles/colors.scss';
@import '../../styles/texts.scss';
@import '../../styles/spacings.scss';

.container {
  height: 80px;
  background-color: $surface-primary;
  border-bottom: solid 1px $surface-light;
  display: flex;
  align-items: center;
}

.content {
  @extend .main-spacing;
}
