// Theme Colors
$primary: #4c6fff;
$secondary: #e4ecf7;
$tertiary: #ff92ae;
$success: #66cb9f;
$warning: #f7936f;
$danger: #f16063;
$info: #68dbf2;
$dark: #16192c;

// Shades
$primary-light: #7b61ff;
$primary-dark: #3754db;
$secondary-light: #ebf2fa;
$secondary-dark: #a6b7d4;
$tertiary-light: #ffadba;
$tertiary-dark: #db6a92;
$success-light: #4aae8c;
$success-dark: #4aae8c;
$warning-light: #fab592;
$warning-dark: #d46a51;
$danger-light: #f68e87;
$danger-dark: #cf4655;
$info-light: #8dedf7;
$info-dark: #4cafd0;
$dark-light: #505780;
$dark-dark: #101225;

// Grays
$gray-50: #fafafa;
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

// Headings & Text body
$heading-dark: #27272e;
$heading-light: #ffffff;
$text-light: #425466;
$text-dark: #f2f2f2;
$text-muted: #718096;
$text-white: #ffffff;

// Surface
$surface-primary: #ffffff;
$surface-secondary: #f7fafc;
$surface-light: #d5d5dc;
$surface-dark: #17171b;

// Brands
$bootstrap: #7952b3;
$facebook: #3b5999;
$twitter: #1da1f2;
$instagram: #e4405f;
$pinterest: #bd081c;
$youtube: #cd201f;
$dribbble: #ea4c89;
$github: #222222;
$reddit: #ff4301;
