@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('~bootstrap-icons/font/bootstrap-icons.css');

@import 'gradients';
@import 'spacings';
@import 'texts';
@import 'shadows';
@import 'backgrounds';

// UI
@import 'ui/alerts';
@import 'ui/buttons';
@import 'ui/badges';
@import 'ui/avatars';

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

// Pure Text
h1 {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 136.02%;
  color: $heading-dark;
}

h2 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 136.02%;
  color: $heading-dark;
}

h3 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 136.52%;
  color: $heading-dark;
}

h4 {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.005em;
  color: $heading-dark;
}

h5 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: $heading-dark;
}

h6 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: $heading-dark;
}

p {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 162.02%;
  font-feature-settings: 'salt' on;
  color: $text-light;
}

p .lead {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $text-light;
}
